[data-animating="true"].svg #needle {
  animation: height 1s linear infinite;
}

@keyframes height {
  from {
    height: 16px;
  }

  to {
    height: 25px;
  }
}

[data-animating="true"].svg #loop {
  animation: fill 1s linear infinite;
}

@keyframes fill {
  from {
    fill: #90c5ff;
  }

  to {
    fill: transparent;
  }

.form > input {
  display: block;
  width: 100%;
  max-width: 230px;
  border: 1px solid #fff;
  text-transform: capitalize;
  margin: auto;
  padding: 0.5rem;
  font-size: 1rem;
}
