.header {
  background-color: #f7d80a;
  color: #86138a;
  font-weight: 800;
  padding: 0 1rem 0 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 15%;
  height: auto;
}

.menu {
  width: 10%;
  max-width: 50px;
}

.logo {
  width: 40%;
  padding: 1.2rem;
}
