.machineslider {
  background-color: #86138a;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.next,
.prev {
  background-color: transparent;
  border: none;
  color: #fb0;
  font-size: 1rem;
  -webkit-appearance: none;
}

.buildingblock {
  color: #86138a;
  background-color: #fb0;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 800;
  border-radius: 3px;
  border: none;
}

.buildingblock:first-of-type {
  display: block;
}
