.machineslider {
  background-color: rgba(134, 19, 138, 0.9);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.next,
.prev {
  background-color: transparent;
  border: none;
}

.buildingblock {
  color: #86138a;
  background-color: #f7d80a;
  padding: 1rem;
  border-radius: 3px;
  border: none;
}

.machineslider > button:nth-of-type(2) img {
  margin-left: 1rem;
}

.machineslider > button {
  display: flex;
  text-transform: capitalize;
}

.machineslider > button > span {
  padding-top: 0.5rem;
  font-weight: 800;
  font-size: 1rem;
  font-family: 'AvenirBold';
}
