.machineslider {
  background-color: rgba(134, 19, 138, 0.9);
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.prev {
  margin-right: 2rem;
}

.next {
  margin-left: 2rem;
}

.next,
.prev {
  background-color: transparent;
  border: none;
}

.buildingblock {
  color: #86138a;
  background-color: #f7d80a;
  padding: 1rem;
  border-radius: 3px;
  border: none;
}

.machineslider > button:nth-of-type(2) img {
  margin-left: 1rem;
}

.machineslider > button {
  display: flex;
  text-transform: capitalize;
}

.machineslider > button > span {
  padding-top: 0.5rem;
  font-weight: 800;
  font-size: 1rem;
  font-family: 'AvenirBold';
}

.highlight {
  animation: jello 750ms linear;
  transform-origin: center;
}

@keyframes jello {
  0%,
  100%,
  11.1% {
    transform: none;
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
