[data-animating="true"].svg .lamp {
  animation: changeColor 1s linear infinite;
}

@keyframes changeColor {
  0% {
    fill: #ffe98f;
  }

  50% {
    fill: #ff4503;
  }

  100% {
    fill: #ffe98f;
  }
}
