[data-animating="true"].svg .lamp {
  animation: changeColor 1s linear infinite;
}

@keyframes changeColor {
  0% {
    fill: #ffe98f;
  }

  50% {
    fill: #ff4503;
  }

  100% {
    fill: #ffe98f;
  }

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 25%;
  height: 5rem;
  margin-bottom: 0.5em;
  padding: 0.5rem;
  border-radius: 10px;
}

.form span {
  color: #000;
  text-transform: capitalize;
}

.form img {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form input[type=checkbox] + label {
  text-transform: capitalize;
}

.form input[type=checkbox] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.form input[type=checkbox]:checked + label {
  background-color: #f7d80a;
}
