[data-animating="true"].svg #controlTop {
  animation: moveControlTop 1s linear infinite;
}

@keyframes moveControlTop {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(22px);
  }

  100% {
    transform: translateY(0);
  }
}

[data-animating="true"].svg #controlBottom {
  animation: moveControlBottom 1s linear infinite;
}

@keyframes moveControlBottom {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-22px);
  }

  100% {
    transform: translateY(0);
  }
}

[data-animating="true"].svg #rightSide {
  animation: changeColorRight 0.5s infinite;
}

@keyframes changeColorRight {
  0% {
    fill: #c1f4ff;
  }

  50% {
    fill: #ffda44;
  }

  100% {
    fill: #c1f4ff;
  }
}

[data-animating="true"].svg #leftSide {
  animation: changeColorLeft 0.5s infinite;
}

@keyframes changeColorLeft {
  0% {
    fill: #dbf9ff;
  }

  50% {
    fill: #ffe98f;
  }

  100% {
    fill: #dbf9ff;
  }
}

[data-animating="true"].svg #rectanglePoints {
  animation: moveChart 1s linear infinite;
}

@keyframes moveChart {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0);
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 27%;
  height: 5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.form span {
  color: #000;
  text-transform: capitalize;
}

.form img {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.form input[type=checkbox] + label {
  text-transform: capitalize;
}

.form input[type=checkbox] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.form input[type=checkbox]:checked + label {
  background-color: #f7d80a;
}
