.list {
  list-style: none;
  padding: 0;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

.list > li > a {
  text-decoration: none;
}

.list > li > a {
  color: #f7d80a;
  font-family: 'AvenirBold';
  font-weight: 800;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(134, 19, 138, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list span {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
}

.list > li > a {
  color: #f7d80a;
  font-family: 'AvenirBold';
  font-weight: 800;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #86138a;
  transition: padding 300ms;
}

.list > li:nth-child(even) {
  background-color: #f7d80a;
  color: #86138a;
}

.cover {
  align-self: center;
  max-width: 160px;
  height: auto;
  margin-bottom: 1rem;
}
