[data-animating="true"].svg .compass {
  transform-origin: center;
  animation: rotate 0.6s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

[data-animating="true"].svg .world {
  transform-origin: center;
  animation: color 0.5s ease-in;
}

@keyframes color {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

[data-animating="true"].svg #light {
  animation: fill 1s ease-in;
}

@keyframes fill {
  0% {
    fill: #d16a70;
  }

  50% {
    fill: green;
  }

  100% {
    fill: #d16a70;
  }
}

.select {
  background: #fff;
  color: #18a9e0;
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
  border: 1px solid #fff;
  height: 3rem;
  text-transform: capitalize;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
