
[data-animating="true"].svg #satelite {
  transform-origin: 57% 81%;
  transform: rotate(28deg) translate(18px);
  animation: rotateSatelite 1s linear;
}

@keyframes rotateSatelite {
  0% {
    transform: rotate(28deg) translate(18px);
  }

  50% {
    transform: rotate(-42deg) translate(18px);
  }

  100% {
    transform: rotate(28deg) translate(18px);
  }
}

.select {
  background: #fff;
  color: #18a9e0;
  max-width: 300px;
  font-size: 1rem;
  border: 1px solid #fff;
  height: 3rem;
  text-transform: capitalize;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
