html {
  box-sizing: border-box;
}

.svg {
  width: 80%;
  margin: 0 auto;
}

.select {
  background: #fff;
  color: #18a9e0;
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
  border: 1px solid #fff;
  height: 34px;
  text-transform: capitalize;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form > legend {
  color: #000;
  font-weight: 800;
  width: 100%;
  margin-bottom: 1rem;
}

.form > input[type=checkbox] + label {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 20px 0 0 4%;
  flex-grow: 1;
  height: 200px;
  width: calc(100% * (1 / 4) - 20px - 5px);
  position: relative;
  padding: 0;
  text-align: center;
}

.form > label > img {
  margin: auto;
  position: absolute;
  width: 40%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.form > label > span {
  font-size: 2rem;
  color: #000;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-transform: capitalize;
}

.form > input[type=checkbox],
.form > input[type=radio] {
  display: none;
}

.form > input[type=checkbox]:checked + label {
  background-color: #fb0;
}

.form > input[type=radio] + label {
  background-color: #fff;
  color: #000;
  transition: background-color 300ms;
  padding: 0.5rem;
}

.form > input[type=radio]:checked + label {
  background-color: #da008c;
  color: #fff;
}
