.modal {
  background-color: #da008c;
  width: 80%;
  max-width: 800px;
  padding: 1rem 1.5rem;
  position: absolute;
  color: #fff;
  font-size: 1rem;
  top: 3rem;
  right: 0;
  left: 0;
  margin: auto;
}

.close {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 3rem;
  float: right;
}

.button {
  background-color: #fb0;
  border: 0;
  color: #86138a;
  display: block;
  transition: background-color color 300ms;
  font-weight: 800;
  font-size: 2rem;
  padding: 2rem 0;
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
}

.button:hover {
  background-color: #fb0;
  color: #86138a;
}
