.modal {
  background-color: #da008c;
  width: 90%;
  max-width: 800px;
  padding: 2.5rem 1.5rem;
  position: absolute;
  color: #fff;
  font-size: 3rem;
  top: 2rem;
  right: 0;
  left: 0;
  margin: auto;
}

.close {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 3rem;
  float: right;
}
