.main {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 2rem;
}

.main section {
  margin: 1rem;
  padding: 2rem;
  line-height: 1.5rem;
  width: 100%;
}

.main summary {
  cursor: pointer;
}

.main section:nth-of-type(n+3) {
  background-color: #fff;
  box-shadow: 3px 3px 0 #86138a;
}

.main section:nth-last-child(-n+2) li {
  margin-left: 1rem;
}

@media only screen and (min-width: 1224px) {
  .main section:nth-last-child(-n+2) {
    width: 44%;
    margin: auto;
    margin-top: 1rem;
  }
}

.main a:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.main a img {
  margin-right: 0.5rem;
}

.main li > p::first-letter {
  text-transform: uppercase;
}

.availability li::before,
.main section:nth-last-child(-n+2) li::before {
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
  content: '▪';
  color: #f7d80a;
}

.availability p,
.main section:nth-last-child(-n+2) p {
  display: inline-block;
}

.main h3 {
  color: #86138a;
  font-family: AvenirBold;
  font-weight: 800;
  margin-bottom: 1rem;
}

.back {
  position: fixed;
  display: block;
  background-color: #fff;
  padding: 1rem;
  right: 9vw;
  bottom: 5vh;
  border: 2px solid #86138a;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-decoration: none;
  color: #000;
}

.header {
  padding: 1rem;
  background-color: rgba(24, 169, 224, 0.7);
}

.header h2 {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  text-transform: capitalize;
}

.header img {
  display: block;
  margin: 1rem auto;
  width: 90%;
  max-width: 15rem;
  box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.16), 0 4px 16px rgba(0, 0, 0, 0.23);
}

.header p {
  text-align: center;
  padding-top: 1rem;
  color: #fff;
}

.summary {
  background-color: rgba(247, 216, 10, 0.6);
  color: #86138a;
}

.availability ul {
  margin: 1rem;
}

.reviews ul {
  list-style: none;
}

.reviews li {
  margin-bottom: 1.5rem;
}

.reviews a,
.reviews a:visited {
  color: #18a9e0;
}

.reviews a:hover,
.reviews a:active {
  color: #86138a;
}

.reviews summary {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.reviews p::first-letter {
  text-transform: uppercase;
}

.loader {
  margin: 100px auto;
  width: 60px;
  height: 60px;
  position: relative;
}

.loader > div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.loader > div::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #88408a;
  border-radius: 100%;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.loader > div:nth-child(2) {
  transform: rotate(30deg);
}

.loader > div:nth-child(3) {
  transform: rotate(60deg);
}

.loader > div:nth-child(4) {
  transform: rotate(90deg);
}

.loader > div:nth-child(5) {
  transform: rotate(120deg);
}

.loader > div:nth-child(6) {
  transform: rotate(150deg);
}

.loader > div:nth-child(7) {
  transform: rotate(180deg);
}

.loader > div:nth-child(8) {
  transform: rotate(210deg);
}

.loader > div:nth-child(9) {
  transform: rotate(240deg);
}

.loader > div:nth-child(10) {
  transform: rotate(270deg);
}

.loader > div:nth-child(11) {
  transform: rotate(300deg);
}

.loader > div:nth-child(12) {
  transform: rotate(330deg);
}

.loader > div:nth-child(2)::before {
  animation-delay: -1.1s;
}

.loader > div:nth-child(3)::before {
  animation-delay: -1s;
}

.loader > div:nth-child(4)::before {
  animation-delay: -0.9s;
}

.loader > div:nth-child(5)::before {
  animation-delay: -0.8s;
}

.loader > div:nth-child(6)::before {
  animation-delay: -0.7s;
}

.loader > div:nth-child(7)::before {
  animation-delay: -0.6s;
}

.loader > div:nth-child(8)::before {
  animation-delay: -0.5s;
}

.loader > div:nth-child(9)::before {
  animation-delay: -0.4s;
}

.loader > div:nth-child(10)::before {
  animation-delay: -0.3s;
}

.loader > div:nth-child(11)::before {
  animation-delay: -0.2s;
}

.loader > div:nth-child(12)::before {
  animation-delay: -0.1s;
}

@keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

[data-available=false].location {
  color: red;
}

[data-available=true].location {
  color: green;
}
