.body {
  margin: 0;
}

h3 {
  color: #86138a;
  font-weight: 800;
}

.body > main {
  width: 90%;
  margin: auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.body a {
  text-decoration: none;
  font-size: 1.125rem;
}

.body ul {
  text-transform: capitalize;
  list-style: none;
  margin: 0;
  padding: 1.5rem;
}

.body li {
  margin-bottom: 0.5rem;
}

.body li::before {
  content: '';
  background-image: url('./bullet.svg');
  width: 1rem;
  height: 2rem;
  position: absolute;
  left: 2.5rem;
  background-size: 65%;
  background-repeat: no-repeat;
}

.body p {
  margin: 0;
}

.body h2 {
  text-align: center;
  color: #fff;
}

.cover {
  align-self: center;
  width: 40%;
  height: auto;
}

.header {
  margin-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(24, 169, 224, 0.4);
}

.summary {
  background-color: #f7d80a;
  padding: 1rem;
  margin-top: 1rem;
  color: #86138a;
}

.section {
  margin: 0;
  padding: 1rem;
  margin-top: 1rem;
  color: #86138a;
}
