.wrapper {
  width: 100%;
  max-width: 400px;
}

.tunnel {
  margin: 0 auto;
  display: block;
}

.machine {
  font-size: 0;
}

.placeholder {
  color: #86138a;
  border: 4px dashed #18a9e0;
  font-size: 1rem;
  font-family: 'AvenirBold';
  font-weight: 800;
  padding: 4rem 0;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
