[data-animating="true"].svg .bar {
  transform-origin: top;
  animation: height 3s linear;
}

@keyframes height {
  from {
    height: 0;
  }

  to {
    height: -50px;
  }
}

[data-animating="true"].svg #paper {
  transform-origin: top;
  animation: heightPaper 1s linear;
}

@keyframes heightPaper {
  from {
    height: 0;
  }

  to {
    height: 25px;
  }
}

[data-animating="true"].svg #light {
  transform-origin: top;
  animation: backgroundColor 1s linear;
}

@keyframes backgroundColor {
  to {
    fill: red;
  }
}

.form > input {
  display: block;
  width: 100%;
  max-width: 230px;
  border: 1px solid #fff;
  text-transform: capitalize;
  margin: auto;
  padding: 0.5rem;
  font-size: 1rem;
}
