[data-animating="true"].svg #handle {
  transform-origin: right;
  transform: translate(68px, 40px) rotate(30deg);
  animation: handle 1s ease-in;
}

@keyframes handle {
  0% {
    transform: translate(68px, 40px) rotate(30deg);
  }

  50% {
    transform: translate(68px, 40px) rotate(-30deg);
  }

  100% {
    transform: translate(68px, 40px) rotate(30deg);
  }
}

[data-animating="true"].svg .rectangles {
  animation: rectanglesColor 1s ease-in;
}

@keyframes rectanglesColor {
  0% {
    fill: #f6a623;
  }

  50% {
    fill: #f6a623;
  }

  100% {
    fill: #f6a623;
  }
}

[data-animating="true"].svg #lampRight {
  animation: changeColorRight 0.5s infinite;
}

@keyframes changeColorRight {
  0% {
    fill: #c1f4ff;
  }

  50% {
    fill: #ffda44;
  }

  100% {
    fill: #c1f4ff;
  }
}

[data-animating="true"].svg #lampLeft {
  animation: changeColorLeft 0.5s infinite;
}

@keyframes changeColorLeft {
  0% {
    fill: #dbf9ff;
  }

  50% {
    fill: #ffe98f;
  }

  100% {
    fill: #dbf9ff;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 45%;
  height: 5rem;
  margin-bottom: 0.5em;
  padding: 0.5rem;
  border-radius: 10px;
  color: #000;
}

.form input[type=radio] + label {
  text-transform: capitalize;
}

.form input[type=radio] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.form input[type=radio]:checked + label {
  background-color: #f7d80a;
}
